@tailwind base;
@tailwind components;
@tailwind utilities;

/* blinking dot animation */
@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .blinking-symbol {
    animation: blink 1s infinite;
  }

  pre {
    @apply p-2 rounded-md overflow-x-auto;
  }

  a {
    color: #7928CA; /* Next UI's purple color */
  }
